<header class="bg-blue-900 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <img src="/public/img/logo.png" alt="Alpha Lubricants" class="h-12">
      <span class="ml-4 text-2xl font-bold">Alpha Lubricants</span>
    </div>
    <nav class="flex space-x-8">
      <a href="#" class="flex items-center space-x-2">
        <img src="/public/img/products-icon.png" alt="Nuestros productos" class="h-6">
        <span>Nuestros productos</span>
      </a>
      <a href="#" class="flex items-center space-x-2 text-gray-500">
        <img src="/public/img/about-us-hiden-icon.png" alt="Acerca de nosotros" class="h-6">
        <span>Acerca de nosotros</span>
      </a>
      <a href="#" class="flex items-center space-x-2 text-gray-500">
        <img src="/public/img/contact-hiden-icon.png" alt="Contáctanos" class="h-6">
        <span>Contáctanos</span>
      </a>
    </nav>
  </div>
</header>