<div class="relative w-full h-screen md:h-[80vh] flex">
    <!-- Parte Blanca -->
    <div class="bg-white w-2/3 h-full"></div>
    <!-- Parte Amarilla -->
    <div class="bg-[#FFD000] w-1/3 h-full"></div>

    <!-- Contenido -->
    <section class="container mx-auto max-w-screen-lg flex flex-col justify-center absolute inset-0 p-5 box-border">
        <div
            class="flex flex-col md:items-center lg:flex-row lg:items-start w-full space-y-8 lg:space-y-0 lg:space-x-8">
            <!-- Título y Card de Contacto -->
            <div class="flex flex-col w-full md:max-w-screen-sm lg:w-1/2 space-y-4 lg:space-y-8 items-center">
                <h1 class="text-2xl md:text-3xl text-blue-900 font-bold">Contáctanos</h1>
                <div class="w-full p-8 bg-blue-900 text-white rounded-lg shadow-lg flex flex-col items-center">
                    <form class="w-full flex flex-col space-y-4">
                        <input type="text" placeholder="Nombre"
                            class="w-full p-2 bg-transparent border-b-2 border-[#4576E8] text-white focus:outline-none focus:border-[#4576E8] placeholder:text-white">
                        <input type="email" placeholder="Email"
                            class="w-full p-2 bg-transparent border-b-2 border-[#4576E8] text-white focus:outline-none focus:border-[#4576E8] placeholder:text-white">
                        <input type="text" placeholder="Asunto"
                            class="w-full p-2 bg-transparent border-b-2 border-[#4576E8] text-white focus:outline-none focus:border-[#4576E8] placeholder:text-white">
                        <div class="w-full flex flex-col">
                            <label for="mensaje" class="text-white mb-2 ml-2">Mensaje</label>
                            <textarea id="mensaje"
                                class="w-full p-2 border-b-2 border-[#4576E8] text-black focus:outline-none focus:border-[#4576E8] h-32"></textarea>
                        </div>
                        <div class="w-full flex justify-center">
                            <button type="button"
                                class="w-1/3 p-2 bg-red-500 text-white rounded-xl hover:bg-red-700 transition-colors">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Card de Información -->
            <div
                class="w-full hidden md:flex md:max-w-screen-sm lg:w-1/2 p-8 bg-blue-900 text-[#4576E8] rounded-lg shadow-lg flex-col items-center">
                <img src="/img/logo-align-col.png" alt="Alpha Lubricants" class="w-1/4 md:w-2/5 lg:w-1/3 mb-4">
                <p class="text-center mt-4">cel: 618 828 7296<br>email: uzmier&#64;gmail.com</p>
                <p class="text-center mt-4">34188, N. Escontria 610, 34186 Durango, Dgo.</p>
            </div>
        </div>
    </section>
</div>