html,
body {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header,
app-products {
    flex: 1;
    /* Esto permite que el contenido principal crezca y empuje el footer hacia abajo */
}