canvas {
  position: absolute;
  top: 0;
  left: 85%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

canvas:nth-child(2) {
  left: 80%;
  transform: translateX(-50%);
}

@media (max-width: 1920px) {
  canvas {
    left: 85%;
  }
  
}

@media (max-width: 1600px) {
  canvas {
    left: 80%;
  }
  
}

@media (max-width: 1400px) {
  canvas {
    left: 70%;
  }
  
}

@media (max-width: 1200px) {
  canvas {
    left: 60%;
  }
  
}

@media (max-width: 992px) {
  canvas {
    left: 50%;
  }
  
}

@media (max-width: 768px) {
  canvas {
    left: 40%;
  }
  
}

@media (max-width: 576px) {
  canvas {
    left: 30%;
  }
  
}
