.products {
    text-align: center;
}

.h1 {
    font-family: 'Utendo-ExtraBold';
}

.title {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.gap-16{
    gap: 10rem;
}

.product {
    display: inline-block;
    margin: 1rem;
    text-align: center;
    width: 200px;

}

.product img {
    height: auto;
    width: 200px;
    margin-bottom: 1rem;
    transition: height 0.3s ease;
}

.product h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #000;
}

.product button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    /* Ajuste para asegurar que todos los botones tengan el mismo ancho */
}

.product .bg-red-500:hover {
    background-color: #ff4d4d;
}

.product .bg-yellow-500:hover {
    background-color: #ffd700;
}
